POSTGRES_DB=arbitaja
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=VeryTrickyPassword
POSTGRES_URL=db:5432
VITE_APP_BASE_URL=http://localhost/
VITE_APP_API_ENDPOINT=api/
ADMIN_USERNAME=admin
ADMIN_PASSWORD=arbitaja
API_KEY=arbitaja
MODE=hex